@import "../../styles/colors";

.btn {
  width: 32.8rem;
  height: 4.4rem;
  border-radius: 0.8rem;
  box-shadow: 0px 1px 2px 0px #1018280d;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  &.contained {
    background-color: $color-primary400;
    color: #fff;
    &:hover {
      background-color: $color-primary500;
    }
  }
  &.outlined {
    background-color: #fff;
    border: 1.5px solid $color-primary400;
    color: $color-primary400;
    &:hover {
      background-color: $color-primary400;
      color: #fff;
    }
  }
}
